.u-section-1 {
  background-image: url("images/d9wsq5j-10fab349-a0c6-4a1b-9b76-e3a93a94bccc.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 43px auto 25px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 486px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 0;
}

.u-section-1 .u-image-1 {
  height: 292px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 1px rgba(199,26,210,1);
  animation-duration: 1000ms;
  width: 292px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  background-image: none;
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 0 0;
}

.u-section-1 .u-image-2 {
  height: 292px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 1px rgba(199,26,210,1);
  animation-duration: 1000ms;
  width: 292px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  background-image: none;
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 40px 0 0;
}

.u-section-1 .u-image-3 {
  height: 292px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 1px rgba(199,26,210,1);
  animation-duration: 1000ms;
  width: 292px;
}

.u-section-1 .u-text-3 {
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  background-image: none;
  margin: 20px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 40px 0 0;
}

.u-section-1 .u-image-4 {
  height: 292px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 8px 1px rgba(199,26,210,1);
  animation-duration: 1000ms;
  width: 292px;
  object-position: 0% 0%;
}

.u-section-1 .u-text-4 {
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  background-image: none;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 396px;
  }

  .u-section-1 .u-image-1 {
    height: 241px;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 241px;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 241px;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    object-position: 0% 50%;
    height: 241px;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 369px;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 369px;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-3 {
    height: 369px;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 369px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-1 {
    height: 554px;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 554px;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 554px;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 554px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 349px;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 349px;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 349px;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 349px;
    width: auto;
  }
}